body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #243a73;
  background-color: #f1f1f1;
}

h2 {
  font-family: "Russo One";
  color: #51557e;
  text-decoration: overline underline;
  text-transform: uppercase;
}
h1 {
  font-family: "Racing Sans One", cursive;

  color: #51557e;
}
h3 {
  font-family: "Racing Sans One", cursive;
  color: #816797;
  font-weight: lighter;
}
hr {
  border-style: none;
  border-color: #51557e;
  border-width: 5px;
  width: 5px;
  box-shadow: 2px;
}
