body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: darkblue;
  font-size: 1.2em;
}

h2 {
  font-family: "Henny Penny", cursive;
  color: #00a6ed;
  font-size: 75px;
  text-decoration: overline underline;
  text-transform: capitalize;
}
h1 {
  font-family: "Kalam", cursive;
  color: rebeccapurple;
}
